HOST=localhost
PORT=9000
NODE_ENV=development
GLOBAL_PREFIX=api/v1

DB_HOST=
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
DB_NAME=da_2026

JWT_ACCESS_SECRET=your_super_secret_access_key_123!
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_super_secret_refresh_key_456!
JWT_REFRESH_EXPIRES_IN=7d